.checkout-section {
    font-size: 14px;
}

.sidebar-wrap {
    border: 1px solid #eee;
    background-color: #f8f8fb;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
}

.sidebar-wrap .sb-title h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    position: relative;
    color: #4b5966;
}

.sidebar-wrap .sb-block-content {
    margin-bottom: 0;
    border-bottom: none;
}

.checkout-summary .text-left {
    color: #777;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
}

.checkout-summary .text-right {
    color: #4b5966;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}

.checkout-summary .checkout-coupan-content {
    display: none;
    margin-bottom: 0;
}

.checkout-summary > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.checkout-coupan-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
}

.checkout-coupan-form .coupan {
    display: inline-block;
    vertical-align: top;
    line-height: 35px;
    height: 35px;
    color: #777;
    font-size: 14px;
    width: 100%;
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.5px;
    border-radius: 5px;
}

.checkout-coupan-form .coupan-btn {
    font-size: 16px;
    text-align: center;
    padding: 0 15px;
}

.btn-2 {
    background-color: #8118d5;
}

.checkout-summary .checkout-summary-total {
    border-top: 1px solid #eee;
    padding-top: 19px;
    margin-bottom: 0;
    margin-top: 16px;
}

.checkout-summary .checkout-summary-total .text-left {
    font-size: 16px;
    font-weight: 600;
    color: #4b5966;
    font-family: "Manrope", sans-serif;
}

.checkout-summary .checkout-summary-total .text-right {
    font-size: 16px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
}

.sidebar-wrap .sidebar-block .checkout-pro {
    margin-top: 34px;
}

.sidebar-wrap .sidebar-block .checkout-pro > div:not(:last-child) {
    margin-bottom: 15px;
}

.sidebar-wrap .sidebar-block .sb-block-content .checkout-pro .product-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar-wrap .sidebar-block .sb-block-content .checkout-pro .product-inner .pro-image-outer {
    width: 128px;
    margin-right: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.product-inner .pro-image-outer {
    -webkit-transition: all 0.3sease 0s;
    transition: all 0.3sease 0s;
    z-index: 11;
    position: relative;
}

.checkout-section .product-inner .pro-image {
    overflow: hidden;
}

.checkout-section .product-inner .pro-image .image {
    position: relative;
    display: block;
    overflow: hidden;
    pointer-events: none;
}

.checkout-section .product-inner .pro-image .image img {
    z-index: 1;
    max-width: 100%;
    -webkit-transition: all 0.3sease 0s;
    transition: all 0.3sease 0s;
    width: 128px;
    height: 112px;
}

.checkout-section .product-inner .pro-image .image img.hover-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0;
}

.sidebar-wrap .sidebar-block .sb-block-content .checkout-pro .product-inner .pro-content {
    width: calc(100% - 143px);
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
}


.checkout-section .product-inner .pro-content {
    height: 100%;
    padding: 20px;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    border-top: 1px solid #eee;
}

.sidebar-wrap .sidebar-block .sb-block-content .checkout-pro .product-inner .pro-content h5 {
    padding: 0 15px 0 0;
}

.checkout-section .product-inner .pro-content .pro-title {
    height: 100%;
    margin: 0 0 10px;
    font-size: 16px;
}

.checkout-section .product-inner .pro-content .pro-title a {
    text-decoration: none;
    color: #4b5966;
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.85px;
    text-transform: capitalize;
    /* font-family: "Poppins, sans-serif"; */
}

.product-inner .pro-content .pro-rating {
    margin-bottom: 10px;
    opacity: 0.7;
    position: relative;
}

.product-inner .pro-content .pro-rating .pro-rating {
    margin: 0;
}

i.gicon.star.fill {
    color: #f27d0c;
}

i.gicon.star {
    color: #777;
    float: left;
    font-size: 14px;
    margin-right: 3px;
}

.product-inner .pro-content .price {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    color: #4b5966;
    letter-spacing: 0.4px;
}

.product-inner .pro-content .price span.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #777;
}

.product-inner .pro-content .price span.new-price {
    color: #4b5966;
    font-weight: 700;
    font-size: 14px;
    margin-right: 7px;
}



.checkout-section [type=radio]:checked {
    position: relative;
    opacity: 0;
    display: none;
}

.checkout-section [type=radio]:checked + label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    color: #777;
    letter-spacing: 0;
}

.checkout-section [type=radio]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid #8118d5;
}

.checkout-section [type=radio]:checked + label:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #5caf90;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2sease;
    transition: all 0.2sease;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.checkout-section [type=radio]:not(:checked) {
    position: relative;
    opacity: 0;
    display: none;
}

.checkout-section [type=radio]:not(:checked) + label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    color: #777;
    letter-spacing: 0;
}

.checkout-section [type=radio]:not(:checked) + label:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #5caf90;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2sease;
    transition: all 0.2sease;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.checkout-section [type=radio]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #ffffff;
}

.checkout-section [type=radio]:checked + label:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #8118d5;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2sease;
    transition: all 0.2sease;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.checkout-section [type=radio]:checked + label:after {
    background: #8118d5;
}

.sidebar-wrap.checkout-del-wrap textarea {
    background: transparent;
    border: 1px solid #eee;
    color: #4b5966;
    height: 100px;
    padding: 10px 15px;
    margin-bottom: 0;
    width: 90%;
    outline: none;
    font-size: 14px;
    display: block;
    border-radius: 5px;
    font-family: inherit;
}

.sidebar-wrap .sidebar-block .sb-block-content .pay-desc {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px;
    display: block;
    letter-spacing: 0;
}

.sidebar-wrap .sidebar-block .sb-block-content .pay-opt-head {
    color: #4b5966;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 6px;
    display: block;
}

.sidebar-wrap.checkout-pay-wrap .pay-commemt .pay-opt-head {
    margin-bottom: 8px;
}

.sidebar-wrap.checkout-pay-wrap textarea {
    background: transparent;
    border: 1px solid #eee;
    color: #4b5966;
    height: 110px;
    padding: 10px 15px;
    margin-bottom: 0;
    width: 90%;
    outline: none;
    font-size: 14px;
    display: block;
    border-radius: 5px;
    font-family: inherit;
}

.sidebar-wrap.checkout-pay-wrap .pay-agree {
    position: relative;
    display: block;
    margin-top: 20px;
}

.sidebar-wrap.checkout-pay-wrap .pay-agree input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
}

.sidebar-wrap.checkout-pay-wrap .pay-agree a {
    margin-left: 27px;
    display: block;
    color: #777;
    font-size: 14px;
    margin-top: 0;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0;
    cursor: pointer;
}

.sidebar-wrap.checkout-pay-wrap .pay-agree a span {
    font-weight: 500;
    color: #4b5966;
}

.sidebar-wrap.checkout-pay-wrap .pay-agree .checked {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 4px;
    -webkit-transition: all 300mslinear;
    transition: all 300mslinear;
}

.sidebar-wrap.checkout-del-wrap h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 0;
}

.checkout-section label {
    margin-bottom: 15px;
}


.checkout-wrap {
    padding: 30px;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 5px;
}

.checkout-wrap h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 25px;
    position: relative;
    display: block;
    color: #4b5966;
    font-family: "Montserrat";
    line-height: 1;
}

.check-subtitle {
    margin-bottom: 14px;
    color: #4b5966;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
}

.new-option span {
    margin-right: 45px;
}


.checkout-section [type=radio]:checked {
    position: relative;
    opacity: 0;
    display: none;
}

.checkout-section [type=radio]:checked + label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    color: #777;
    letter-spacing: 0;
}

.checkout-section [type=radio]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid #8118d5;
}

.checkout-section [type=radio]:checked + label:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #8118d5;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2sease;
    transition: all 0.2sease;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.new-desc {
    position: relative;
    line-height: 24px;
    color: #777;
    letter-spacing: 0;
    max-width: 64%;
}

.new-btn {
    margin-top: 26px;
}

.new-btn a {
    height: 40px;
    text-transform: uppercase;
    font-size: 16px;
    min-width: 150px;
    line-height: 40px;
    letter-spacing: 0;
}

.btn-2 {
    background-color: #8118d5;
}

.checkout-wrap .check-bill h3 {
    margin-bottom: 26px;
    line-height: 1.2;
}

.checkout-wrap .check-bill .checkout-subtitle {
    margin-bottom: 10px;
}


.checkout-subtitle {
    margin-bottom: 14px;
    color: #4b5966;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
}

.check-bill-form {
    margin-bottom: 2px;
}

.bill-option {
    margin-bottom: 25px;
    display: block;
}

.bill-option span {
    margin-right: 45px;
}

.checkout-wrap .check-bill-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.checkout-wrap .check-bill-form .bill-wrap.bill-half {
    width: 50%;
}

.checkout-wrap .check-bill-form .bill-wrap {
    width: 100%;
    padding: 0 15px;
}

.checkout-wrap .check-bill-form label {
    margin-bottom: 7px;
    color: #4b5966;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
}

.checkout-wrap .check-bill-form input {
    background-color: transparent;
    border: 1px solid #eee;
    color: #4b5966;
    font-size: 14px;
    padding: 0 15px;
    width: 96%;
    outline: none;
    border-radius: 5px;
    font-family: inherit;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15sease-in-out, box-shadow .15sease-in-out;
}

input {
    height: 50px;
    outline: none;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.checkout-wrap .check-bill-form .bl-select-inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 0;
    border-radius: 5px;
}

.checkout-wrap .check-bill-form .bl-select-inner select {
    padding: 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    color: #777;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.checkout-wrap .check-bill-form .bl-select-inner::after {
    content: "\f107";
    position: relative;
    font-family: "gIcons";
    top: 0;
    right: 0;
    padding: 0 10px;
    cursor: pointer;
    pointer-events: none;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    line-height: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #777;
}

.checkout-content .check-order-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
}

.checkout-content .check-order-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
}


/* login form */

.check-login-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.check-login-form label {
    margin-bottom: 11px;
    color: #4b5966;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
}

.check-login-form input {
    background-color: transparent;
    border: 1px solid #eee;
    color: #4b5966;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 0 15px;
    width: 95%;
    outline: none;
    border-radius: 5px;
    font-family: inherit;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.check-login-form .check-login-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 14px;
}

.check-login-form .check-login-btn .btn-2 {
    margin-right: 20px;
}

.check-login-form .check-login-fp {
    color: #4b5966;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-decoration: underline;
    font-size: 15px;
    line-height: 24px;
}