  
.products-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.products-wrapper .nodata {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 0 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.product-card {
    height: 100%;
    padding-bottom: 24px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  

.product-inner{
   -webkit-transition: all 0.3sease-in-out;
    transition: all 0.3sease-in-out;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 5px;
}

.pro-image-outer{
    -webkit-transition: all 0.3sease 0s;
    transition: all 0.3sease 0s;
    z-index: 11;
    position: relative;
}

.pro-image {
  overflow: hidden;
}

.image {
    position: relative;
    display: block;
    overflow: hidden;
    pointer-events: none;
}


.flags {
    right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.flags span {
  padding: 5px 10px;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ff7070;
    color: #fff;
    letter-spacing: 0.5px;
    position: relative;
    border-radius: 5px;
}

.flags span.new {
  background: #5caf90;
}

.pro-actions {
  -webkit-transition: all 0.3sease-in-out;
  transition: all 0.3sease-in-out;
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  opacity: 0;
}

.product-info {
    height: 100%;
    padding: 20px;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    border-top: 1px solid #eee;
}


/* .pro-image img {
  width: 300px;
  background-size: contain;
} */


.pro-stitle {
    margin-bottom: 10px;
    font-weight: 400;
    color: #999;
    font-size: 13px;
    text-transform: capitalize;
}

.pro-title {
    height: 100%;
    margin: 0 0 10px;
    font-size: 16px;
}

.pro-title a {
  text-decoration: none;
  color: #4b5966;
  display: block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.85px;
  text-transform: capitalize;
}

.pro-title a:hover {
  color: #8118d5;
}

.pro-rate-price {
  margin-top: 5px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pro-rating{
    margin-bottom: 10px;
    opacity: 0.7;
    position: relative;
}

.pto-rating .pro-rating {
  margin: 0;
}

.pro-rating .pro-rating span {
  font-size: 20px;
  padding: 0;
}


.pro-rating .pro-rating .fill {
  color: #f27d0c;
}

.pro-rating .qty {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #777;
    font-size: 13px;
}

.pro-price {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    color: #4b5966;
    letter-spacing: 0.4px;
}

.pro-price span.new-price {
    color: #4b5966;
    font-weight: 700;
    font-size: 14px;
    margin-right: 7px;
}

.pro-price span.old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #777;
}

.add-cart a{
    height: 25px;
    display: block;
    width: 60px;
    text-align: center;
    line-height: 25px;
    background-color: #038703;
    font-weight: 400;
}


@media only screen and (max-width: 767px) {
  .pro-image .image img {
    width: 380px;
    background-size: contain;
  }
}