.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  padding: 0 10px 0 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  box-shadow: 2px 3px 5px 1px rgba(112, 112, 112, 0.62);
}

.header-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgb(170, 170, 170);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
}

.input {
  display: block;
  width: 100%;
  min-height: 40px;
  min-width: 50%;
  height: 40px;
  padding: 0 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: #777;
  border-radius: 0;
  background-color: transparent;
  border: none;
  letter-spacing: 0.6px;
  outline: none;
}

.btn .search {
  color: rgb(41, 149, 182);
  font-size: 23px;
  padding-top: 5px;
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: rgb(41, 149, 182);
}

.header-buttons a {
  color: rgb(73, 72, 72);
  font-weight: 500;
}

.header-buttons {
  display: flex;
  gap: 10px;
  letter-spacing: 0.6px;
  margin-right: 10px;
}

.header-icon-desc {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-left: 4px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100px;
  padding: 10px;
  transition: all 0.4s ease;
  margin: 40px 0 0 0;
  position: absolute;
  z-index: 16;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  right: auto !important;
  background: #fff;
  -webkit-box-shadow: 2px 3px 5px 1px rgba(112, 112, 112, 0.62);
  box-shadow: 2px 3px 5px 1px rgba(112, 112, 112, 0.62);
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
}

.menu.open {
  opacity: 1;
  visibility: visible;
}
